.profileLink{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14px;
    height: 14px;
    background-color: rgb(132, 85, 246);
    border-radius: 50%;
    color: white;
    padding: 20px;
    font-size: 24px;

    cursor: pointer;


    &:hover, &:focus{
        background-color: rgb(110, 58, 232);
    }

    @media (max-width: 550px) {
        font-size: 16px;
        padding: 14px;
    }
}

.profileContainer{
    position: absolute;
    text-align: center;
    right: 0;
    top: 14px;
    width: 300px;
    z-index: 10;

    background-color: white;
    border-radius: 10px;
    padding: 20px 12px;

    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    & h2{
        margin: 0;
        text-align: center;
        border-bottom: solid grey 0.5px;
        padding-bottom: 5px;
    }

}

.profileWrap{
    position: relative;
}

.backButton{
    position: absolute;
    top: 0;
    left: 0;
    background: inherit;
    border: none;
    font-size: 20px;
    cursor: pointer;
    padding: 5px;
    border-radius: 50%;

    &:hover, &:focus{
        color: rgb(110, 58, 232)
    }
}

.infoContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px 10px;

    & .infoName{
        font-size: 20px;
        font-weight: bold;
        margin: 0;
    }
    & .infoMail{
        font-size: 15px;
        margin: 0;
    }
}

.logoutButton{
    background-color: lightgray;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;

    cursor: pointer;

    &:hover,&:focus{
        background-color: rgb(250, 91, 91);
        color: white;
    }
}