.contacts{
    width: 100%;
    padding: 0 6% 40px 6%;

    @media (max-width: 1200px) {
        padding: 0 2% 40px 2%;
    }
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0% 20px 0%;

    border-top: 0.5px solid grey;


}

.contactsMainPage{
    display: flex;
    justify-content: space-between;
}

.contactsListContainer{
    width: 50%;
}

.loader{
    margin-left: 40px;
    width: 50px;
    height: 50px;
}

.addButton{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(132, 85, 246);
    color: white;
    border-radius: 4px;
    font-size: 20px;
    padding: 8px 16px;

    cursor: pointer;

    &:hover, &:focus{
        background-color: rgb(110, 58, 232);
    }

    & span{
        display: block;
        margin-top: -3px;
        margin-right: 4px;
    }
}

.title{
    color: rgb(132, 85, 246);
}

