.filterLabel{
    display: flex;
    align-items: center;
    width: 250px;
    gap: 10px;
    border: none;
}

.filterInput{
    border-radius: 5px;
    outline: none;
    border-width: 0.5px;
    border-color: rgba(137, 137, 137, 0.43);

    padding: 3px 6px;

    width: 250px;
    height: 25px;
}