.content{
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    max-width: 1600px;
    padding: 0 20px;
}

.navWrap{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}


.navList{
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;

    list-style: none;

    
}

.authList{
    display: flex;
    gap: 20px;

    list-style: none;
    @media only screen and (max-width: 550px) {
        gap: 10px;
    }
}

.navButton{
    display: inline-flex;
    text-decoration: none;
        display: block;
        font-size: 24px;
        font-weight: 700;
        text-decoration: none;
        padding: 40px 8px;

        color: black;

        &:hover{
            color: rgb(132, 85, 246);
            & span{
                color: rgb(132, 85, 246);
            }
        }

        & span{
            color: rgb(132, 85, 246);
        }

        @media only screen and (max-width: 880px) {
            font-size: 20px;
           }

        @media only screen and (max-width: 550px) {
            font-size: 15px;
        }
}

.isActive{
    border-bottom: 2px solid rgb(132, 85, 246);
}


/* width */
::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(125, 87, 237);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }