.selectedContainer{
    position: sticky;
    top: 30px;
    right: 8%;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 40%;
    height: 400px;
    padding: 30px;
    margin-top: 60px;
    z-index: 20;

    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.selectedHeader{
    display: flex;
    gap: 20px;
    align-items: center;
}

.selectedName{
    margin: 0;
    color: rgb(68, 68, 68);
    font-size: 30px;
}

.selectedJob{
    margin: 0;
    color: rgb(68, 68, 68);
    font-size: 18px;
}

.profileImg{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(132, 85, 246);
    border-radius: 50%;
    color: white;
    width: 80px;
    height: 80px;
    font-size: 26px;
}

.infoList{
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 20px;

    width: 100%;
    gap: 25px;
    margin-top: 20px;

}

.infoListItem{
   color: rgb(68, 68, 68);
   font-size: 24px;
   display: flex;
   align-items: center;

   transition: 200ms cubic-bezier(1, 0, 0, 1);
}

.infoListLink{
    text-decoration: none;
    color: inherit;
    margin-left: 20px;
}

.infoListItem:hover{
    color: rgb(125, 87, 237);
}

.selectedButtonsContainer{
    display: flex;
    gap: 30px;
    width: 100%;
    margin-top: 30px;

    justify-content: center;
     & button{
        width: 33%;
        padding: 8px 10px;
        font-size: 16px;
        color: white;
        border: none;
        border-radius: 4px;

        cursor: pointer;
     }


}


.deleteButton{
    background-color: rgb(132, 85, 246);

    &:hover{
        background-color: rgb(202, 30, 30);
    }
}

.editButton{
    background-color: rgb(132, 85, 246);

    &:hover{
        background-color: rgb(103, 102, 102);
    }
}

.telLink{
    text-decoration: none;
    text-align: center;
    width: 33%;
    padding: 8px 10px;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 4px;

    cursor: pointer;

    background-color:  rgb(132, 85, 246);


    &:hover{
        background-color: rgb(11, 160, 11);
    }
}

.svgImg{
    position: absolute;
    top: 70%;
    z-index: -10;

}

@media only screen and (max-width: 1200px){
    .selectedContainer{
        height: 380px;
        right: 0;
    }

    .infoListItem{
        font-size: 22px;
    }

    .selectedButtonsContainer{
        gap: 15px;
        margin-top: 40px;
    }

    .svgImg{
        width: 400px;
        top: 75%;
    }

    .infoList{
        padding: 10px;
    }

}

@media only screen and (max-width: 1020px) {
    .selectedContainer{
        display: none;
    }
}