.contactsContainer{
    width: 50%;
}

.contactsList{
    display: flex;
    flex-direction: column;
    gap: 22px;

    justify-content: center;
    padding: 0;
    margin: 0;
}

.listItem{
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 70px;
    padding: 0 20px;

    border-radius: 10px;
    border: 0.5px solid rgba(137, 137, 137, 0.43);

    cursor: pointer;

    &:hover, &:focus{
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }

    & p{
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    & span{
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    & div{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: blue;
        border-radius: 50%;
        color: white;
        width: 40px;
        height: 40px;
    }
}

.contactsButton{
    display: inline-flex;
    padding: 5px 10px;
    border: none;
    color: white;

    border-radius: 5px;

    align-items: center;

    cursor: pointer;

    font-size: 12px;

    &:hover{
        background-color: rgb(198, 16, 3);

        svg{
            fill: white;
        }
    }
}