.contactsContainer{
    width: 100%;
}

.contactsList{
    display: flex;
    flex-direction: column;
    gap: 22px;

    justify-content: center;
    padding: 0;
    margin: 0;
}

.listItem{
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 90px;
    padding: 0 20px;

    border-radius: 4px;
    background-color: rgb(246, 246, 246);
    border: none;

    cursor: pointer;

    &:hover, &:focus{
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    


}

.infoWrap{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
}

.details{
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-left: 10%;
    gap: 10px;
}



.profileWrap{
    display: flex;
        align-items: center;
        justify-content: center;
        background-color: inherit;
        border-radius: 50%;
        color: white;
        width: 40px;
        height: 40px;

        & svg{
            fill: black;
        }
}



.userName{
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    padding: 0;

    display: flex;
    align-items: center;
    gap: 16px;

    @media (max-width: 1200px) {
        font-size: 18px;
    }

}

.userNumber{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    display: flex;
    align-items: center;
    gap: 16px;

    & svg{
        width: 20px;
    }

    @media (max-width: 1200px) {
        font-size: 12px;
    }
}

.contactsButton{
    display: inline-flex;
    padding: 5px 10px;
    border: none;

    border-radius: 5px;

    align-items: center;

    cursor: pointer;

    font-size: 12px;
    background-color: inherit;

    &:hover{

        svg{
            fill: rgb(255, 74, 74);
        }
    }
}

.active{
    box-shadow: none;
    border: none;
    outline: none;

    background-color: rgb(132, 85, 246);
    color: white;
    fill: white;

    svg{
        fill: white;
    }

}