.heroContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px;

    @media screen and (max-width: 1250px) {
        padding: 60px;
       }

       @media only screen and (max-width: 720px) {
        padding: 40px;
        padding-top: 80px;
       }

       @media only screen and (max-width: 550px) {
        padding: 20px;
       }
}

.heroContent{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 750px) {
        margin-top: 70px;
    }

    @media only screen and (max-width: 500px) {
        flex-direction: column;
        gap: 40px;
        margin-top: 70px;
    }

}

.heroButton{
    color: white;
    text-decoration: none;
    font-size: 24px;
    background-color: rgb(132, 85, 246);
    padding: 20px 30px;
    border-radius: 10px;

    max-width: 300px;
    margin: auto;

    &:hover{
        background-color: rgb(110, 58, 232);
    }

    @media only screen and (max-width: 880px) {
        font-size: 18px;
        margin-top: 40px;
       }
}

.heroImg{
    opacity: 1;
    width: 400px;
    top: 15%;
    left: 60%;
    z-index: -1;

    
}

@media only screen and (max-width: 1250px) {
    .heroImg{
        width: 300px;
    } 
}

 @media only screen and (max-width: 880px) {
    .heroImg{
        width: 250px;
    } 
 }

 @media only screen and (max-width: 720px) {
    .heroImg{
        width: 200px;
    } 
 }

 @media only screen and (max-width: 500px) {
    .heroImg{
        width: 180px;
    } 
 }


.heroTitle{
    max-width: 700px;
    font-size: 70px;
    margin: 0;

    @media only screen and (max-width: 1250px) {
        font-size: 60px;
       }

    @media only  screen and (max-width: 880px) {
        font-size: 50px;
       }

    @media only  screen and (max-width: 720px) {
        font-size: 40px;
        text-align: center;
       }

    @media only  screen and (max-width: 400px) {
        font-size: 30px;
    }
}