.heroContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px;
}

.heroContent{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

.heroButton{

    color: white;
    text-decoration: none;
    font-size: 24px;
    background-color: rgb(132, 85, 246);
    padding: 20px 30px;
    border-radius: 10px;

    max-width: 300px;
    margin: auto;

    &:hover{
        background-color: rgb(110, 58, 232);
    }
}

.heroImg{
    opacity: 1;
    width: 400px;
    top: 15%;
    left: 60%;
    z-index: -1;
}

.heroTitle{
    max-width: 700px;
    font-size: 70px;
    margin: 0;
}