.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1200;
}

.Modal {
    max-width: 80%;
    height: 140px;
    margin-top: 5%;
    display: flex;
    justify-content: center;
}